

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    max-width: 1000px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    padding-top: 50px;
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* 
.image-item img:hover {
    transform: scale(2.05);
    transition: transform 0.3s ease;
} */
